<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div th:replace="fragments::adminHeader"></div>


<div class="container">
    <div th:replace="fragments::messageHandler"></div>
        <h3 style="margin-top: 10px">Update User</h3>
        <form th:action="@{/admin/user/update}" th:object="${user}" method="post">
         <input type="hidden" name="id"  th:field="*{id}">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" th:field="*{firstName}" required placeholder="Your Firstname" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" th:field="*{lastName}" required placeholder="Your Lastname" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" th:field="*{email}" class="form-control form-control-lg" required minlength="6" placeholder="Email" name="email" id="email"
                       aria-describedby="emailHelp">
                
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" class="form-control form-control-lg" required placeholder="Password" name="password"
                       id="password">
            </div>
             <div class="form-group">
                    <label for="category">Select Role</label>
                    <select class="form-control" id="role" name="role" th:field="*{role}">
                        <option 
                                th:value="ROLE_USER" > User
                        <option 
                                th:value="ROLE_ADMIN"> Admin
                    </select>
                </div>

            <input type="submit" value="Update" class="btn btn-primary btn-block">
        </form>
    
</div>
<div  th:replace="fragments::footer"></div>
</body>
</html>