<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div th:replace="fragments::adminHeader"></div>
<div class="container">
<div th:replace="fragments::messageHandler"></div>
<h1 class="text-center">Users</h1> <hr>
    <!-- <a th:href="@{/admin/users/add}" style="margin: 20px 0; align-items: center;" class="btn btn-primary">Add Category</a> -->
    <table class="table mt-5">
        <thead class="thead-light">
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Category Name</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
            <th scope="col">Update</th>
            <th scope="col">Update</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user, iStat : ${users}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${user.firstName}">Larry</td>
            <td th:text="${user.lastName}">Larry</td>
            <td th:text="${user.email}">Larry</td>
            <td th:text="${user.role}">Larry</td>

            <td><a href="" th:href="@{/admin/user/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a></td>
            <td><a href="" th:href="@{/admin/user/update/{id}(id=${user.id})}" class="btn btn-warning">Update</a></td>

        </tr>
        </tbody>
    </table>
</div>
<div  th:replace="fragments::footer"></div>
</body>
</html>